@font-face {
    font-family: 'HBIOS';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/HBIOS949.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/HBIOS949.woff') format('woff');
}
@font-face {
    font-family: 'CP437';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/CP437.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/CP437.woff') format('woff');
}
@font-face {
    font-family: 'Mono Boot';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Mono_Boot.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Mono_Boot.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Bold';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Bold.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Bold.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono Bold';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono Bold Italic';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold_Italic.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold_Italic.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono Italic';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Italic.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Italic.woff') format('woff');
}
@font-face {
    font-family: 'UbuntuHangeul';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/UbuntuHangeul.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/UbuntuHangeul.woff') format('woff');
}
@font-face {
    font-family: 'UbuntuHangeul Bold';
    font-weight: bold;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/UbuntuHangeul_Bold.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/UbuntuHangeul_Bold.woff') format('woff');
}
@font-face {
    font-family: 'WebBatang';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebBatang.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebBatang.woff') format('woff');
}
@font-face {
    font-family: 'WebBatangChe';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebBatangChe.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebBatangChe.woff') format('woff');
}
@font-face {
    font-family: 'WebDotum';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebDotum.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebDotum.woff') format('woff');
}
@font-face {
    font-family: 'WebDotumChe';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebDotumChe.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebDotumChe.woff') format('woff');
}
@font-face {
    font-family: 'WebGulim';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebGulim.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebGulim.woff') format('woff');
}
@font-face {
    font-family: 'WebGulimChe';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebGulimChe.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/WebGulimChe.woff') format('woff');
}
