@font-face {
    font-family: 'HanBatang';
    font-weight: normal;
    font-style: normal;
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanBatang.woff2') format('woff2');
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanBatang.woff') format('woff');
}
@font-face {
    font-family: 'HanBatangChe';
    font-weight: normal;
    font-style: normal;
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanBatangChe.woff2') format('woff2');
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanBatangChe.woff') format('woff');
}
@font-face {
    font-family: 'HanDotum';
    font-weight: normal;
    font-style: normal;
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanDotum.woff2') format('woff2');
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanDotum.woff') format('woff');
}
@font-face {
    font-family: 'HanGulim';
    font-weight: normal;
    font-style: normal;
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanGulim.woff2') format('woff2');
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanGulim.woff') format('woff');
}
@font-face {
    font-family: 'HanCodeSans';
    font-weight: normal;
    font-style: normal;
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanCodeSans.woff2') format('woff2');
    src: url('https://rawcdn.githack.com/builtforpig/pigpen/9bae31f5a11df63c257618f50e36b2d4cf776de3/webfonts/HanCodeSans.woff') format('woff');
}
