@font-face {
    font-family: 'VGABIOS';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/VGABIOS.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/VGABIOS.woff') format('woff');
}

@font-face {
    font-family: 'IyagiGothicChe','이야기고딕체';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/IyagiGothicChe.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/IyagiGothicChe.woff') format('woff');
}

@font-face {
    font-family: 'MyeongJoChe','명조체';
    font-weight: normal;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/MyeongJoChe.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/MyeongJoChe.woff') format('woff');
}
