@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu.woff') format('woff');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 700;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Bold.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Bold.woff') format('woff');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 400;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono.woff') format('woff');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 700;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold.woff') format('woff');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 700;    
    font-style: italic;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold_Italic.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold_Italic.woff') format('woff');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Bold_Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 400;    
    font-style: italic;
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Italic.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Italic.woff') format('woff');
    src:local(☺), url('https://builtforpig.github.io/webfonts/Ubuntu_Mono_Regular_Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'HangeulDotum';
    font-weight: 400;    
    font-style: normal;
    src:local(☺), url('https://builtforpig.github.io/webfonts/HangeulDotum.woff2') format('woff2');
    src:local(☺), url('https://builtforpig.github.io/webfonts/HangeulDotum.woff') format('woff');
    src:local(☺), url('https://builtforpig.github.io/webfonts/HangeulDotum.ttf') format('truetype');
}
